body {
   margin: 0;
  padding: 0;
  background: #06162e;
  height: 800px;
  width: 800px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li {
  background: #0d2f52;
  display: flex;
  width: 240px;
}
.button_section {
  margin-left: 300px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
input {
  margin-left: 15px;
  width: 300px;
}
button:active {
  color: #0d2f52;
}
img {
  height: 72px;
  width: 72px;
  margin: 5px;
}
.form {
  height: 25px;
  display: flex;
  margin-left: 150px;
}
.answer {
  text-align: center;
}
.chose {
 text-align: center;
}
span {
  margin-left: 15px;
}
p {
  color: white;
}
.vidjet {
  display: flex;
}